# Compiled Object files
*.slo
*.lo
*.o
*.obj
\bin\*
\obj\*
\.vs\*
\packages\*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/packages/Autofac.3.5.2/lib/net40/Autofac.xml
/npm/
